In [6]:
import numpy as np 
import pandas as pd 
df=pd.read_csv("/Esyasoft_Basic_Training/Basics_of_Python/session_5/datasets.csv")

In [7]:
df.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [8]:
df.dtypes

datasetName      object
about            object
link             object
categoryName     object
cloud            object
vintage         float64
dtype: object

dropping colums

In [9]:
df=df.drop(['vintage'], axis=1)

In [10]:
df.head()

,datasetName,about,link,categoryName,cloud
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN

# Renaming the colums

In [11]:
df=df.rename(columns={"about":"About"})

In [12]:
df.head()

,datasetName,About,link,categoryName,cloud
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN

To check the info

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datasetName   61 non-null     object
 1   About         61 non-null     object
 2   link          61 non-null     object
 3   categoryName  61 non-null     object
 4   cloud         24 non-null     object
dtypes: object(5)
memory usage: 2.5+ KB

In [14]:
df.describe()

,datasetName,About,link,categoryName,cloud
count,61,61,61,61,24
unique,61,61,61,19,2
top,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Social Networks,GitHub
freq,1,1,1,10,21

In [16]:
df=pd.read_csv("/Esyasoft_Basic_Training/Basics_of_Python/session_5/datasets.csv")

In [17]:
df.describe()

           vintage
count    31.000000
mean   2000.677419
std      24.436840
min    1920.000000
25%    2006.500000
50%    2009.000000
75%    2012.000000
max    2016.000000

In [18]:
df.shape

(61, 6)

In [19]:
duplicated_rows_df = df[df.duplicated()]

In [20]:
print(duplicated_rows_df.shape)

(0, 6)

In [21]:
df.count()

datasetName     61
about           61
link            61
categoryName    61
cloud           24
vintage         31
dtype: int64

In [22]:
df=df.drop_duplicates()

In [23]:
df.shape

(61, 6)

7.Dropping the missing or null values

In [24]:
print(df.isnull().sum())

datasetName      0
about            0
link             0
categoryName     0
cloud           37
vintage         30
dtype: int64

In [25]:
df=df.dropna()

In [26]:
df.shape

(2, 6)

In [27]:
print(df.isnull().sum())

datasetName     0
about           0
link            0
categoryName    0
cloud           0
vintage         0
dtype: int64

In [30]:
df

,datasetName,about,link,categoryName,cloud,vintage
32,FBI Hate Crime 2013,FBI Hate Crime 2013 - aggregated data,https://github.com/emorisse/FBI-Hate-Crime-Sta...,Social Sciences,GitHub,2013.0
41,NYC Uber,NYC Uber trip data April 2014 to September 2014,https://github.com/fivethirtyeight/uber-tlc-fo...,Transportation,GitHub,2014.0